---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
  title="Porfolio de Luis Germán - Ingeniero de Software con 3 años de experiencia"
  description="Contrata a Luis Germán para llevar a tu empresa al siguiente nivel. Desarrollador Backend, IA, Frontend y ciberseguridad. Especializado en desarollo backend."
>
  <main class="px-4">
    <SectionContainer class="pt-16 md:pt-36">
      <Hero />
    </SectionContainer>
    <div class="flex flex-wrap justify-center pt-6 pb-12">
      <a
        href="https://www.credly.com/badges/5f49b00e-8498-49dd-ba9d-dfdcefe16bb3/public_url"
        ><img
          src="https://github.com/luisthedragon/luisthedragon/assets/35470433/a1ec2fac-313a-4212-839a-95e5e681f6d6"
          alt="AWS Certified Data Analytics - Specialty"
          style="width:150px; margin: 0 5px;"
        /></a
      >
      <a
        href="https://www.credly.com/badges/45c071c6-0cf0-4658-acee-6b13034974b0/public_url"
        ><img
          src="https://github.com/luisthedragon/luisthedragon/assets/35470433/13513bb0-1593-40e7-a206-98a8970c46c2"
          alt="AWS Certified Solutions Architect - Associate"
          style=" width:150px; margin: 0 5px;"
        /></a
      >
      <a
        href="https://www.credly.com/badges/f5a9f64e-e323-448f-b35c-c641d01768e8/public_url"
        ><img
          src="https://github.com/luisthedragon/luisthedragon/assets/35470433/627dd665-d428-48e7-9ab1-85d85f07f511"
          alt="AWS Certified Developer - Associate"
          style="width:150px; margin: 0 5px;"
        /></a
      >
    </div>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
