---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Luis German y uso el nombre artístico luisthedragon. Empecé en la
      programación desde muy temprano jugando con <a href="https://www.kodugamelab.com/">Kodu</a>, <a
        href="https://scratch.mit.edu/">Scratch</a
      > a los 8 años, y posteriormente Python a la edad de 10 años y hasta hoy sigue
      formando parte de mi caja de herramientas tecnológicas. Actualmente <strong
        >lidero un equipo de desarrollo y mantenimiento de chatbots en una
        consultora multinacional en latinoamérica</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >el desarrollo de múltiples chatbots en Workplace para empresas muy
        importantes en latinoamérica</strong
      >. Estos chatbots permitieron automatizar procesos internos de las
      empresas reduciendo costos y mejorando la experiencia de los trabajadores.
    </p>

    <p>
      Como desarrollador frontend, <strong
        >he desarrollado múltiples proyectos personales usando las tecnologías
        más modernas con resultados muy llamativos categoría de <em
          class="italic">Software & Game Development</em
        > en Twitch</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
      acceso a contenido de calidad.
    </p>

    <p>
      Como Ingeniero de IA, <strong
        >soy co-autor de una tesis de pregado donde realizamos un modelo de Deep
        Learning para el diagnóstico de la depresión en base a audios con el
        objetivo de detectar tempranamente la depresión.
      </strong>
    </p>

    <p>
      Como Ingeniero de Ciberseguridad, <strong
        >conseguí la certificación de Certified in Cybersecurity, he resuelto
        las máquinas principales en <a href="https://www.hackthebox.com/"
          >HackTheBox</a
        > y estoy familiarizado con las herramientas de Kali Linux<em
          >. Aunque no tengo experiencia laboral en este campo, mis
          conocimientos y creatividad pueden conseguir resultados sorprendentes.
        </em>

        <img
          width="200"
          height="200"
          src="/casual-profile-photo.jpg"
          alt={personalImageAlt}
          class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
          style="object-position: 50% 50%"
        />
      </strong>

      <!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de luisthedragon quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
    </p>
  </div>
</article>
