---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2023 - Actualidad",
    title: "Senior Software Engineer",
    company: "Tuxpas",
    // description:
    // "Responsable del equipo de desarrollo y mantenimiento de chatbots para Workplace con infraestructura en AWS. Implantación de medidas de integración continua usando Github Actions.",
    descriptionAsList: [
      "Gestión de proyectos utilizando metodologías ágiles.",
      "Diseño e implementación de chatbots con infraestructura en AWS (Full stack).",
      "Participación activa en reuniones con clientes para levantamiento de requisitos y actualización de proyectos.",
      "Mantenimiento y soporte de proyectos de software.",
      "Desarrollo de portales de activación de cuentas usando Python Django, AWS y Vue",
      "Desarrollo de herramientas internas usando Python.",
      "Desarrollo de arquitectura de software usando CDK",
    ],
    link: "https://linkedin.com/in/luis-german-esquivel-grados",
  },
  {
    date: "2022 - 2023",
    title: "Mid Software Engineer",
    company: "Tuxpas",
    descriptionAsList: [
      "Documentación, estandarización y automatización de procesos de desarrollo internos.",
      "Diseño e implementación de chatbots con infraestructura en AWS (Full stack).",
      "Gestión de proyectos de software utilizando metodologías ágiles.",
      "Mantenimiento y soporte de proyectos de software.",
      "Participación activa en reuniones con clientes para levantamiento de requisitos y actualización de proyectos.",
      "Diseño e implementación de sistemas ETL",
      "Desarrollo de página de web de la empresa usando Nuxt",
    ],
  },
  {
    date: "2021",
    title: "Junior Software Engineer",
    company: "Tuxpas",
    descriptionAsList: [
      "Configuración de servidores EC2 usando Nginx",
      "Diseño e implementación de chatbots con infraestructura en AWS (Full stack)",
      "Participación en proyectos de software utilizando metodologías ágiles.",
      "Desarrollo de webscraper con selenium",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
