---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2022 - Actualidad",
    title: "Mid Software Developer",
    company: "Tuxpas",
    description:
      "Responsable del equipo de desarrollo y mantenimiento de chatbots para Workplace con infraestructura en AWS. Implantación de medidas de integración continua usando Github Actions.",
    link: "https://linkedin.com/in/luis-german-esquivel-grados",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
